.header {
  background: url("../../img/backgrounds/header_bg.jpg") center center/cover no-repeat;
  height: 50px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
  }

  &__list-item {
    margin-right: 22px;
    list-style-type: none;
    &:last-child {
      margin-left: 30px;
    }
  }

  &__list-link {
    color: #D4D4D4;
    text-decoration: none;
    font-size: 11px;
    &:hover {
      color: $green;
    }
  }

  &__btn {
    height: 29px;
    width: 75px;
    background: transparent;
    border: 1px solid $green;
    color: $green;
    border-radius: 4px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    &:hover {
      background: $background;
    }
  }
}