.header {
  background: url("../../img/backgrounds/header_bg.jpg") center center/cover no-repeat;
  height: 50px;
  &__inner {
    padding: 0 116px 0 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
  }

  &__list-item {
    padding-right: 22px;
  }

  &__list-link {
    color: #D4D4D4;
    text-decoration: none;
    font-size: 11px;
  }

  &__btn {
    height: 29px;
    width: 75px;
    background: transparent;
    border: 1px solid $green;
    color: $green;
    border-radius: 10%;
    cursor: pointer;
    font-family: Poppin, sans-serif;
    font-weight: 400;
  }
}