.header {
  background: url("../../img/backgrounds/header_bg.jpg") center center/cover no-repeat;
  height: 50px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
  }

  &__list-item {
    margin-right: 22px;
    list-style-type: none;
    &:last-child {
      margin-left: 20px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: -15px;
        top: 9px;
        height: 10px;
        width: 1px;
        background: #fff;
      }
    }
  }

  &__list-link {
    color: #D4D4D4;
    text-decoration: none;
    font-size: 11px;
    &:hover {
      color: $green;
    }
  }

  &__btn {
    height: 29px;
    width: 75px;
    background: transparent;
    border: 1px solid $green;
    color: $green;
    border-radius: 4px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    &:hover {
      background: $background;
    }
  }
}
.burger {
  display: none;
  position: relative;
  z-index: 5;
  width: 30px;
  height: 18px;
  align-items: center;
  span {
    width: 100%;
    height: 2px;
    background-color: #d4d4d4;
    transform: scale(1);
  }
}
.burger::before, .burger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #d4d4d4;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger.active span {
  transform: scale(0);
}
.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate (0, -50%);
}
.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate (0, 50%);
}