.price {
  &__title {
    @extend %title-font;
    text-align: center;
    margin-bottom: 14px;
  }
  &__subtitle {
    @extend %text-font;
    text-align: center;
    max-width: 416px;
    margin: 0 auto;
  }
  &__cards {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
  }
  &__card {
    padding: 40px 47px 30px 47px;
    background: #030712;
    margin: 10px;
    &:hover {
      background: $hover;
    }
    &:hover button{
      background: white;
      border: 1px solid white;
    }
    &:hover span {
      color: green;
    }

  }
  &__card-title {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 37px;
    margin-top: 0;
    line-height: 18px;
  }
  &__card-value {
    font-family: Poppins, sans-serif;
    font-size: 29px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 18px;
  }
  &__list {
    margin: 0;
  }
  &__list-item {
    font-family: Poppins, sans-serif;
    list-style-type: none;
    font-size: 12px;
    font-weight: 200;
    line-height: 18px;
    margin-bottom: 10px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -37px;
      top: 0;
      width: 7px;
      height: 7px;
      background: url("../../img/icons/Vector.svg")  center no-repeat;
      border: 1px solid $green;
      border-radius: 50%;
      padding: 5px;
    }
  }
  &__list-item--none {
    color: #9B9B9B;
    &::before {
      content: '';
      position: absolute;
      left: -37px;
      top: 0;
      width: 7px;
      height: 7px;
      background: url("../../img/icons/cross.svg")  center no-repeat;
      border: 1px solid $green;
      border-radius: 50%;
      padding: 5px;

    }
  }
  &__card-btn {
    margin-top: 45px;
    width: 178px;
    height: 35px;
    background: transparent;
    color: $green;
    border: 1px solid $green;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
  }
}