.program {
  margin-bottom: 100px;
  &__title {
    @extend %title-font;
    max-width: 346px;
    text-align: center;
    margin: 0 auto;
  }
  &__cards {
    margin: 30px auto auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__card {
    padding: 20px 25px 31px 27px;
    background: #030712;
    margin: 10px;
    &:hover {
      background: $hover;
    }
    &:hover a {
      color: white;
    }
  }
  &__card-img {
    height: 59px;
    img {
      height: 100%;
    }
  }
  &__card-title {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 13px;
    margin-bottom: 10px;
  }
  &__inner {
    position: relative;
  }
  &__icon {
    position: absolute;
    right: 80px;
    top: 11px;
  }
  &__card-info {
    font-family: Poppins, sans-serif;
    font-size: 11px;
    font-weight: 200;
    margin-bottom: 40px;
    margin-top: 0;
    line-height: 18px;
    width: 145px;
  }
  &__card-link {
    text-decoration: underline;
    color: $green;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    &:hover {
      color: white;
    }
  }
}