@import "general/vars";
@import "components/header";
@import "components/footer";
@import "components/start";
@import "components/statistic";
@import "components/program";
@import "components/join";
@import "components/price";
@import "components/review";
@import "components/subscribe";
@import "components/media";


html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: $background;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #fff;
  font-family: Poppins;
  font-weight: 400;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 870px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.btn-up {
  position: fixed;
  background-color: $green;
  right: 30px;
  bottom: 30px;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 5px 2px $green;
  &::before {
    content: "";
    width: 20px;
    height: 30px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  }
}

.btn-up_hide {
  display: none;
}

.open {
  display: flex !important;
}