@import "general/vars";
@import "components/header";
@import "components/footer";
@import "components/start";
@import "components/statistic";
@import "components/program";
@import "components/join";
@import "components/price";


html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: $background;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #fff;
  font-family: Poppins;
  font-weight: 400;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;

}